.player {
    border: 1px solid gray;
    padding: 20px;
    width: 300px;
    margin: 20px;

}

.player img {

    width: 200px;
}
.player-btn{
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: brown;
    color: white;
    font-weight: 600;

}